.project header {
    display: flex;
}

.project .backButton {
    text-decoration: none;
    font-size: 2em;
    margin-top: 0.75em;
}

.project h1 {
    margin-left: 0.5em;
}

.project .content {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
}

.project .left {
    width: 100%;
}

.project .right {
    width: 100%;
    object-fit: contain;
}

/* ----- */

@media only screen and (min-width: 600px) {

    .project .backButton {
        margin-left: -1.5em;
    }

}

@media only screen and (min-width: 992px) {

    .project .content {
        flex-wrap: nowrap;
    }

    .project .left {
        width: 50%;
    }

    .project .right {
        width: 50%;
        margin-left: 2em;
    }

}