.home .content {
    display: flex;
    flex-wrap: wrap;
}

.home .left {
    flex-shrink: 0;
    width: 100%;
}


.home .right {
    flex-grow: 1;
    width: 100%;
}

/* ----- */

@media only screen and (min-width: 992px) {

    .home .content {
        flex-wrap: nowrap;
    }

    .home .left {
        width: 20em;
        height: 20em;
    }

    .home .right {
        margin-left: 2em;
    }

}